
*{
  color: #fff;
}
html, body{
  color: #fff;
}
/* Provide sufficient contrast against white background */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.game-box 
.slider {
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
}

/* .game_page */

.testimonials{
  background-color: rgb(27, 187, 201);
  width: 100%;
  height: 100vh;
}


.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left{
  background-image: none;

}

.nav-link, .text-dark{
  color: white !important;
}