

/* Provide sufficient contrast against white background */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    180deg,
    rgba(24, 26, 36, 0.916),
    rgba(98, 77, 140, 0.8) 90%,
      rgba(152, 119, 217, 0.8) 100%
      
    ),
    url("https://assets.reedpopcdn.com/ragnarok_photo_mode_001.jpg/BROK/resize/1200x1200%3E/format/jpg/quality/70/ragnarok_photo_mode_001.jpg");
  background-size: cover;
}

.filters {
  width: 100%;
  height: 100px;
}

.games-container {
  width: 85%;
    margin: 0 auto;
  padding: 1.2rem;
  background-color: rgba(98, 77, 140, 0);
  position: relative;
  display: block;
  height: 500px;
}
.game-box 
.slider {
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

/* .game_page */

.testimonials{
  background-color: rgb(27, 187, 201);
  width: 100%;
  height: 100vh;
}


.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left{
  background-image: none;

}