$color-primary: #755ca7;
$color-primary-light: #9877D9;
$color-primary-dark: #624D8C;

$color-secondary:#292C3C;
$color-secondary-light:#4F5270;
$color-secondary-dark:#181A24;

$color-tertiary:#D1D0D3;
$color-tertiary-light:#DCD3ED;
$color-tertiary-dark:#9F9EA1;

$deafult-font-size:1.6rem;
