$color-primary: #755ca7;
$color-primary-light: #9877D9;
$color-primary-dark: #624D8C;

$color-secondary:#292C3C;
$color-secondary-light:#4F5270;
$color-secondary-dark:#181A24;

$color-tertiary:#D1D0D3;
$color-tertiary-light:#DCD3ED;
$color-tertiary-dark:#9F9EA1;

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

$deafult-font-size:1.6rem;

$small-screen: 320px;
$medium-screen: 481px;
$large-screen:769px;
$xlarge-screen:1025px;