@keyframes fromCenter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes change {
  0% {
    background-color: $color-secondary-light;
  }

  100% {
    background-color: $color-secondary-dark;
  }
}
@keyframes menuchange {
  0% {
    background-color: $color-secondary-light;
  }

  100% {
    background-color: $color-primary-dark;
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translateY(-250px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
    display: none;
  }
}
@keyframes repositionNavBar {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes bouge {
  /*starting point and angle (same angle as choosen into .levitation)*/
  from {
    transform: translateY(20px);
  }
  /* ending point and angle */
  to {
    transform: translateY(50px);
  }
}