@keyframes fromCenter{
    0%{
        opacity: 0;
        transform: scale(0);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Entrance {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes exit {
	0% {
		opacity: 1;
		transform: translateY(-250px);
	}

    10%{
        opacity: 1;
		transform: translateY(0);
    }

	100% {
		opacity: 0;
		transform: translateY(-100px);
        display: none;
	}
}
@keyframes repositionNavBar {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-80px);
	}
}