*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: $color-tertiary;
}
html {
  color: $color-tertiary;

  a:hover{
    cursor: pointer;
    
  }
}

body {
  
  box-sizing: border-box;
  color: $color-tertiary;

  li{
    list-style: none;
    text-align: -webkit-match-parent;
  }
}