header {
  display: block;
  background: inherit;
  nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 100%;
    top: 0;
    left: 0;

    &.scrolled-down {
      position: fixed !important;
      height: $nav-height;
      z-index: 98;
      animation: change 1s ease-in-out forwards;

      .menu-icon {
        transform: translateY(30px);
        transition: all 1s ease-in-out forwards;
      }

      .navbar-logo {
        @extend .menu-icon;
        scale: 1;
        transition: all 1s ease-in;
      }
    }

    // &.scrolled-down img {
    //   scale: 1.25;
    // }

    &.closed {
      z-index: 1;
      .navbar-logo,
      .menu-icon {
        transform: translateY(0);
        transition: all 1s ease-out;
      }
    }

    .navbar {
      &-container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: calc(1.5rem * 0.5);
        padding-left: calc(1.5rem * 0.5);
        margin-right: auto;
        margin-left: auto;
        &-mob {
          display: none;
          &-menu-close {
            transform: translateY(-250px);
          }
        }
        @media (min-width: 1400px) {
          max-width: 1320px;
        }
        @media (max-width: 1200px) {
          max-width: 1140px;
        }
        @media (max-width: 992px) {
          max-width: 960px;
        }
        @media (max-width: 768px) {
          &-mob {
            @media (max-width: 768px) {
              visibility: visible;
              display: flex;
              flex-wrap: inherit;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              padding-right: calc(1.5rem * 0.5);
              padding-left: calc(1.5rem * 0.5);
              margin-right: auto;
              margin-left: auto;
              max-width: 540px;
              z-index: 98;

              &-menu {
                display: block;
                margin-top: calc($nav-height);

                &-open {
                  transition: height 1s ease-in;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  flex-direction: column;
                  height: 100vh;
                  animation: menuchange 1s ease-in forwards;
                  animation-delay: 1s;
                  position: relative;
                  top: calc($nav-height / 2);
                  ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 80%;
                  }
                }
                &-close {
                  transition: height 1s ease-out;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  flex-direction: column;
                  height: 0;
                  transform: translateY((0));
                  animation: menuchange 1s ease-in forwards;
                  z-index: 97;
                  //animation: exit 1s ease-out 0s;
                  ul {
                    display: none;
                  }
                }
              }
            }

            .menu-icon {
              font-size: 2rem;
            }
          }
          display: none;
        }

        .navbar-logo {
          white-space: normal;
          text-align: center;
          word-break: break-all;
          color: white;
          font-size: 1.25rem;
        }
      }

      &-links {
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        align-items: center;

        @media (max-width: 768px) {
          display: none;
        }

        #search-box {
          border-radius: 25px;
          background-color: rgba($color: #fefefe01, $alpha: 0.1);
          border: none;
          transition: all 0.3s;
          padding: 0.2rem 1rem;

          &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.1);
            background-color: rgba($color: #fefefe01, $alpha: 0.4);
          }
          &::-webkit-input-placeholder {
            color: $color-primary-dark;
          }
          @media (max-width: 768px) {
            display: none;
          }
        }

        .search-btn{
          position: relative;
          left: -30px;

          .search-icon{
            &:hover{
              transform: scale(1.2);
              transition: all 0.2s;
              fill: darken($color: (#D1D0D3), $amount: 20%)
            }
            
          }
        }
        ul {
          display: flex;
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          flex-direction: row;

          a {
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
}
