header {
  display: block;
  background: inherit;
  nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 100%;
    top: 0;
    left: 0;

    &.scrolled-down {
      position: fixed !important;
      height: 80px;
      background-color: black;
      //   box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
      z-index: 98;

      .navbar-logo,
      .menu-icon {
        transform: translateY(30px);
        transition: all 1s ease-in-out;
      }

      .navbar-logo {
        scale: 1.25;
        transition: all 1s ease-in-out;
      }
    }

    // &.scrolled-down img {
    //   scale: 1.25;
    // }

    &.closed {
      z-index: 98;
      .navbar-logo,
      .menu-icon {
        transform: translateY(0);
        transition: all 1s ease-in-out;
      }
    }

    .navbar {
      &-container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: calc(1.5rem * 0.5);
        padding-left: calc(1.5rem * 0.5);
        margin-right: auto;
        margin-left: auto;
        &-mob {
          visibility: hidden;
          &-menu-close {
            transform: translateY(-250px);
          }
        }
        @media (min-width: 1400px) {
          max-width: 1320px;
        }
        @media (max-width: 1200px) {
          max-width: 1140px;
        }
        @media (max-width: 992px) {
          max-width: 960px;
        }
        @media (max-width: 768px) {
          &-mob {
            @media (max-width: 768px) {
              visibility: visible;
              display: flex;
              flex-wrap: inherit;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              padding-right: calc(1.5rem * 0.5);
              padding-left: calc(1.5rem * 0.5);
              margin-right: auto;
              margin-left: auto;
              max-width: 540px;
              z-index: 98;

              &-menu {
                display: block;
                margin-top: calc($nav-height);

                &-open {
                  transition: height 1s ease-in;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  flex-direction: column;
                  height: 100vh;
                  background-color: yellow;
                  //animation: Entrance 1s ease-in;
                  ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 80%;
                  }
                }
                &-close {
                  transition: height 1s ease-out;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  flex-direction: column;
                  height: 0;
                  transform: translateY((0));
                  background-color: yellow;
                  z-index: 97;
                  //animation: exit 1s ease-out 0s;
                  ul {
                    display: none;
                  }
                }
              }
            }

            .menu-icon {
              font-size: 2rem;
            }
          }
          display: none;
        }

        .navbar-logo {
          white-space: normal;
          text-align: center;
          word-break: break-all;
          color: white;
          font-size: 1.25rem;
        }
      }

      &-links {
        display: flex;
        flex-direction: row-reverse !important;
        flex-basis: auto;
        flex-grow: 1;
        align-items: center;
        @media (max-width: 768px) {
          display: none;
        }
        ul {
          display: flex;
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          flex-direction: row;

          a {
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
}
