a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav{
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: 0.4s ease;
}

nav{
  width: 100%;
}

.scrolled-down {
  position: fixed;
  height: 80px;
  background-color: black;
  z-index: 98;
}

.scrolled-down img {
  scale: 1.25;
}

/* @media (min-width: 768px) {
  .navbar-collapse{
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    border-bottom: 20px solid white;
    transition: 0.5s;
  } */
