.initial {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.113) 0,
    rgb(24, 26, 36) 40%,
    rgba(98, 77, 140, 0.962) 80%,
    rgba(152, 119, 217, 0.8) 100%
  );
  .contenitore {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    width: 100%;

    .pagescreen {
      // background-image: url(https://d2d2z3qzqjizpf.cloudfront.net/eyJidWNrZXQiOiJnZ2FwcCIsImtleSI6Im1lZGlhL2dhbWVzL1VqQ1plZy9jYWJkMTNhNC1lOWE5LTRiZTEtODIwMS1kZjQzODlkMGJkYjEuanBnIiwiZWRpdHMiOnsidG9Gb3JtYXQiOiJqcGciLCJqcGVnIjp7InF1YWxpdHkiOjgwLCJjaHJvbWFTdWJzYW1wbGluZyI6IjQ6NDo0In19fQ==);
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgb(0 0 0 / 64%)),
        to(rgb(244 244 244 / 0%))
      );
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      );
      background-position: center center;
      background-size: cover;
      height: 35.5rem;
      width: 100%;
      opacity: 0.3;
    }
  }
  .info-contenitore {
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    align-self: center;
    margin-top: -204px;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;

    .info-box {
      flex-direction: row;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-box-pack: justify;
      align-items: stretch;
      box-sizing: border-box;
      display: flex;
      flex-basis: auto;
      flex-shrink: 0;
      margin: 0px;
      min-height: 0px;
      min-width: 0px;
      padding: 0px;
      position: relative;
      margin-bottom: 20%;

      &__videos {
        max-width: 1280px;
      }

      &__random {
        display: block;
        padding: 0.25rem;
        margin-top: 2rem;
        table {
          width: 100%;
          tr {
            td:nth-child(1) {
              white-space: nowrap;
              vertical-align: top;
            }
            td:not(:nth-child(1)) {
              ul {
                list-style-type: none;
                padding: 0;
              }
            }
          }
        }
      }
      .first-col {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-top: -100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        border-radius: 5%;
       
        .info-col {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal; 
          // box-shadow: 6rem 1.5rem 7rem rgba(0, 0, 0, 0.4);Ï€

          .img-container {
            align-self: center;
            width: 100%;
            overflow-clip-margin: content-box;
            overflow: clip;
            max-width: 100%;
            height: auto;
            border: 5px solid white;
            border-radius: 5px;
            .card-info {
              width: 100%;
            }
          }
        }
      }
      .second-col {
        display: flex;
        flex-direction: column;
        width: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        height: 100%;
        padding: 2.25rem;
        z-index: 0;

        .main-bo {
          width: 100%;
          height: auto;
          z-index: 2;
          margin-bottom: 2rem;
        }

        .desc {
          p {
            margin-bottom: 0;
          }
          span {
            color: $color-tertiary-dark;
            text-decoration: underline;

            &:hover {
              color: $color-secondary-dark;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// ===========Mobile Sizes =================
@media (max-width: 768px) {
  .initial {
    .pagescreen {
      height: 35rem !important;
    }

    .info-contenitore {
      .info-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .first-col {
          width: 80%;
        }
        .second-col {
          display: flex;
          flex-direction: column;
          width: 90%;
          height: 100%;
          padding: 2rem 0;
        }
      }
    }
  }
}
